# list and its deauflt methods

In [1]:
lst=[1,2,3,"chemistry","maths","english"]
lst

[1, 2, 3, 'chemistry', 'maths', 'english']

In [2]:
lst.append(4)

In [3]:
lst

[1, 2, 3, 'chemistry', 'maths', 'english', 4]

In [6]:
lst.clear()#clear the whole list

In [7]:
lst

[]

In [35]:
listy=["ravi","a","b","c"]
listy

['ravi', 'a', 'b', 'c']

In [9]:
lst.append([1,2,3])

In [10]:
listy.append([1,2,3])#append the element in the list

In [11]:
listy

['ravi', 'a', 'b', 'c', [1, 2, 3]]

In [12]:
listy.count(3)#gives the count of number of times an element appears in the list

0

In [13]:
listy.extend()

TypeError: extend() takes exactly one argument (0 given)

In [15]:
listy.extend(lst)#it will append the sequence in the list

In [16]:
listy

['ravi', 'a', 'b', 'c', [1, 2, 3], [1, 2, 3]]

In [17]:
lst.copy(listy)

TypeError: copy() takes no arguments (1 given)

In [18]:
lst.copy()

[[1, 2, 3]]

In [21]:
listy.index("a")

1

In [22]:
listy.index(1)

ValueError: 1 is not in list

In [23]:
listy

['ravi', 'a', 'b', 'c', [1, 2, 3], [1, 2, 3]]

In [26]:
listy.insert(0,6)#insert the number or element at a particular index

In [27]:
listy

[6, 'ravi', 'a', 'b', 'c', [1, 2, 3], [1, 2, 3]]

In [28]:
lst[0]

[1, 2, 3]

In [29]:
listy[0]#gives the number at that prticular index

6

In [30]:
listy[-1]#revrse indexing

[1, 2, 3]

In [31]:
listy.pop(6)#removes and return the last element of the list

[1, 2, 3]

In [32]:
listy

[6, 'ravi', 'a', 'b', 'c', [1, 2, 3]]

In [33]:
listy.pop()

[1, 2, 3]

In [34]:
listy

[6, 'ravi', 'a', 'b', 'c']

In [35]:
listy.pop(0)#removes and return element at that particluar in index

6

In [36]:
listy.remove("a")#remove the element from the list

In [37]:
listy

['ravi', 'b', 'c']

In [38]:
listy.reverse()#reverse the whole list

In [39]:
listy

['c', 'b', 'ravi']

In [41]:
len(listy)#gives the length of the list

3

In [42]:
max(listy)#return max element from the list

'ravi'

In [43]:
min(listy)#return minimum element from the list

'b'

In [45]:
listy[1:]#slicing fetches section

['b', 'ravi']

In [46]:
listy[1:2]

['b']

In [47]:
listy+lst#concatenate to list

['c', 'b', 'ravi', [1, 2, 3]]

In [49]:
listy*4#repeat the list  elemnts 4 times

['c', 'b', 'ravi', 'c', 'b', 'ravi', 'c', 'b', 'ravi', 'c', 'b', 'ravi']

In [50]:
"a" in listy#membership

False

In [51]:
"ravi" in listy

True

In [52]:
del listy[0]#remove the element from the particular index

In [36]:
listy

['ravi', 'a', 'b', 'c']

# dictionary and its default functions

In [54]:
dit={"name":"anu","age":"7","num":"1234","class":"4"}
dit

{'name': 'anu', 'age': '7', 'num': '1234', 'class': '4'}

In [55]:
dit.values()#return list of dictionary values

dict_values(['anu', '7', '1234', '4'])

In [56]:
dit.keys()#return list of dictionary keys

dict_keys(['name', 'age', 'num', 'class'])

In [57]:
dit.get("age")#returns the value associated with key

'7'

In [60]:
dit.items()#returns the value of key value tuple pair of dictionary

dict_items([('name', 'anu'), ('age', '7'), ('num', '1234'), ('class', '4')])

In [61]:
dit2={"address":"xyz","rollno":"4"}
dit2

{'address': 'xyz', 'rollno': '4'}

In [62]:
dit.update(dit2)#add dictionary dit2 keyvalue pairs to dit

In [63]:
dit

{'name': 'anu',
 'age': '7',
 'num': '1234',
 'class': '4',
 'address': 'xyz',
 'rollno': '4'}

In [64]:
dit2.setdefault("address")

'xyz'

In [66]:
dit2.setdefault("email")#Similar to get(), but will set dit[key]=default if key is not already in dit

In [67]:
dit2

{'address': 'xyz', 'rollno': '4', 'email': None}

In [69]:
dit2.popitem()#it will pop out the last elemnt from yhe dictionary

('email', None)

In [70]:
dit2

{'address': 'xyz', 'rollno': '4'}

In [71]:
dit2.pop("rollno")#it will pop out the particular key value pair acc to args

'4'

In [72]:
dit2

{'address': 'xyz'}

In [74]:
dit.fromkeys("name","age")#Create a new dictionary with keys from seq and values set to value.

{'n': 'age', 'a': 'age', 'm': 'age', 'e': 'age'}

In [75]:
dit.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [76]:
dit

{'name': 'anu',
 'age': '7',
 'num': '1234',
 'class': '4',
 'address': 'xyz',
 'rollno': '4'}

In [77]:
dit2.clear()#Removes all elements of dictionary dict

In [78]:
dit2

{}

In [79]:
dit.copy()#Returns a shallow copy of dictionary dict

{'name': 'anu',
 'age': '7',
 'num': '1234',
 'class': '4',
 'address': 'xyz',
 'rollno': '4'}

In [80]:
dit.fromkeys("email")

{'e': None, 'm': None, 'a': None, 'i': None, 'l': None}

In [83]:
dit["school"]="yz"#add new key value pair in the dictionary

In [84]:
dit

{'name': 'anu',
 'age': '7',
 'num': '1234',
 'class': '4',
 'address': 'xyz',
 'rollno': '4',
 'school': 'yz'}

In [85]:
len(dit)#returns the length of the dictionary

7

In [86]:
str(dit)#Produces a printable string representation of a dictionary

"{'name': 'anu', 'age': '7', 'num': '1234', 'class': '4', 'address': 'xyz', 'rollno': '4', 'school': 'yz'}"

# sets and its default functions

In [1]:
sets ={"a","b",1,2,3}
sets

{1, 2, 3, 'a', 'b'}

In [2]:
sets1={"mon","mon","tues"}
sets1

{'mon', 'tues'}

In [3]:
sets.add("mon")#it will add new elemnt in the list

In [4]:
sets

{1, 2, 3, 'a', 'b', 'mon'}

In [5]:
sets1.discard("mon")#it will discard the given element from the set

In [6]:
sets1

{'tues'}

In [9]:
set2={"jan","feb","march"}
set2

{'feb', 'jan', 'march'}

In [10]:
sets|set2#union of two sets

{1, 2, 3, 'a', 'b', 'feb', 'jan', 'march', 'mon'}

In [11]:
set3={"a","b","mon","tues"}
set3

{'a', 'b', 'mon', 'tues'}

In [12]:
sets&set3#intersection of two sets

{'a', 'b', 'mon'}

In [13]:
sets-set2#difference of sets

{1, 2, 3, 'a', 'b', 'mon'}

In [14]:
sets>=set2#check if a given set is a subset or superset of another set. The result is True or False depending on the elements present in the sets.

False

In [16]:
set4={"a","b"}
set4

{'a', 'b'}

In [17]:
sets>=set4

True

# tuples and its default functions

In [18]:
tup=('physics', 'chemistry', 1997, 2000)
tup

('physics', 'chemistry', 1997, 2000)

In [19]:
tup.count(1997)

1

In [20]:
tup.index(2000)

3

In [21]:
tup[0]

'physics'

In [22]:
tup[1:]

('chemistry', 1997, 2000)

In [23]:
tup[1:3]

('chemistry', 1997)

In [26]:
tup1=(1,2,3,4)
tup1

(1, 2, 3, 4)

In [28]:
max(tup1)#Returns item from the tuple with max value.

4

In [29]:
min(tup1)#Returns item from the tuple with min value.

1

In [37]:
tuple(listy)#Converts a list into tuple.

('ravi', 'a', 'b', 'c')

# string and its default functions

In [38]:
var1 = 'Hello World!'
var2 = "Python Programming"

In [39]:
var1

'Hello World!'

In [40]:
var2

'Python Programming'

In [41]:
var1[1:7]

'ello W'

In [42]:
var2[6]

' '

In [45]:
var1[4]+"e"

'oe'

In [47]:
var1[:6]+"ython"

'Hello ython'

In [48]:
var2[:6]

'Python'

In [50]:
var1+var2#Adds values on either side of the operator

'Hello World!Python Programming'

In [51]:
var1*2#Creates new strings, concatenating multiple copies of the same string

'Hello World!Hello World!'

In [54]:
"l"in var1#Returns true if a character exists in the given string

True